<div class="panel pos-rel">
	<div class="pad-all">
		<div class="media pad-btm">
			<div class="text-center">
				<a href="javascript:void(-1)" class="box-inline btn-visualize">
					<img class="" alt="Image" src="{{poster}}" height="150">

				</a>
			</div>
		</div>
		<span class="text-2x text-semibold text-main">{{title}}</span>
		<p class="pad-btm bord-bt text-sm">{{plot}}.</p>
		<div class="text-center pad-to">
			<div class="btn-group">
				<!-- 				<a href="javascript:void(-1)" class="btn btn-sm btn-default"> -->
				<!-- 					<i class="fa fa-play icon-lg icon-fw"></i> -->
				<!-- 					Play -->
				<!-- 				</a> -->
				<a href="javascript:void(-1)" class="btn btn-sm btn-default btn-edit">
					<i class="fa fa-pencil  icon-lg icon-fw"></i>
					Edit
				</a>
				<a href="javascript:void(-1)" class="btn btn-sm btn-default btn-visualize ">
					<i class="fa fa-info-circle icon-lg icon-fw"></i>
					See More
				</a>
			</div>
		</div>
	</div>
</div>
<!---------------------------------->


